@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "./reset";
@import "./variables";
@import "./mixin";
@import "./global";
@import "./header";
@import "./slider";
@import "./footer";

.wrapper {
  margin: 0 auto;
  padding: 0 25px;
  @media screen and (max-width: 1200px + 1) {
    padding: 0 20px;
  }
  @media screen and (max-width: 768px + 1) {
    padding: 0 12px;
  }
}

.wrapper-header {
  max-width: 1350px;
}
